html, body {
	position:relative;
	height:100%;
    font-family:lora, 'Titillium Web', sans-serif;
}

body {
    position:relative;
	margin:0% 0;
	background:black;
	height:95%;
}

#frame {
	border:solid 1px #999;
	height:calc(100% - 30px); 
	margin:0;
	position:relative;
	background:#eee;
    overflow: hidden;
}

#nest {
	width:100%;
	height:100%;
    overflow: visible;
}

.guideline {
	stroke:#aaa;
	stroke-width:1;
}

#musicallines .guideline {
    stroke:#000000;   
}   

#musicallines .guideline.playing {
    stroke:#d600a6;
}  

.erase .guideline:hover, .erase  #guidecircles .guide:hover {
    stroke:#01D7E5;
    fill:#ffffff;
    opacity: .5;
}    

.preview_line {
	stroke:#01D7E5;
	stroke-width:1;
	fill:none;
}	

.gridline {
	stroke:#aaa;
	stroke-width:1;
}

.centerpoint {
	stroke-width:0;
	fill:#333;
}

.intersection {
	stroke-width:0;
	fill:#aaa; 
}

svg g.hidden  {
	display:none;
}

.intersection:hover,
 #intersection_points.hidden  .intersection :hover{
	fill:blue;
	fill-opacity:1; 
}

.principal {
	stroke:#333;
	stroke-width:1;
	fill:#fff;
}

#guidecircles .guide {
	stroke:#aaa;
	stroke-width:1;
	fill:none;
}

path {
	stroke:#000;
	stroke-width:2;
	fill:none;
}

path.selected {
	stroke:#01D7E5;
	stroke-width:1;
    fill:none;
}

/* buttons */

nav#toolbox {
	float:left;
	margin:0;
	margin-left:15px;
	line-height: 64px;
	margin-bottom:0px;
}

nav div {
	display: inline-block;
	padding:0;
	margin:0;
	margin-right:9px;
	padding-right:9px;
	border-right:solid 2px #222;
	height:40px;
	line-height:40px;
}

nav#toolbox button {
	background:url(icons.png) #666 no-repeat 4px center;
	width:40px;
	height:40px;
	display: inline-block;
	border:solid 2px transparent;
	border-radius:4px;
	margin-right:5px;
	vertical-align:top;
}

nav#toolbox button#lineMode {
	background-position: 1px center;
}

nav#toolbox button#CircleCenterMode {
	background-position: -37px center;
}

nav#toolbox button#CircleEdgeMode {
	background-position:-72px center;
}

nav#toolbox button#eraseMode {
	background-position:-108px center;
}

nav#toolbox button#musical {
	background-position:-143px center;
}

nav#toolbox button#draw-straight {
	background-position:-178px center;
}

nav#toolbox button#draw-curved {
	background-position:-216px center;
}

nav#toolbox button#play {
	background-position:-252px center;
}

nav#toolbox button:hover {
	border:solid 2px #bbb;	
}	

nav#toolbox button.active {
	background-color:#333;
	border:solid 2px #666;
}

/* Palettes */

.palette {
    position:absolute;
    z-index:999;
    top:84px;
    right:20px;
    background:white;
    border:solid 1px #666;
    border-radius:3px;
    overflow: hidden;
    width:238px;
}    

.palette header.paletteHandle {
    background:#ccc;
    color:black;
    padding:5px 10px;
    font-weight: 600;
    cursor: move;
}   

.palette header.paletteHandle a {
    background:none;
    border:0;
    position:absolute;
    right:10px;
    top:5px;
    font-size:12px;
    cursor:default;
}    

.layerContainer {
    overflow-y: scroll;
}
    
.palette .layers,
.palette ul{
    margin:0;
    padding:0;
    list-style: none;
}    

.palette ul li.child,
.palette ul li header{
    display:block;
    margin:0;
    padding:5px 10px;
    border-bottom:solid 1px #999;
    width:200px;
}

.palette .layerGroup.closed ul{
    display:none;
}

.palette li.heading{
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2O8efPmf3V1dUYGKIAzMARgKjFUAABhTQgFqUDzYAAAAABJRU5ErkJggg==');
}

.palette li.heading .child {
    background:white;   
    margin:0;
}
/*
.palette  li.heading:hover{
background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQYV2NUmfD/f5U9Axwwzjv//z+Cy8AAF2g7yMAAUomhAgBMfg+xx0DOUQAAAABJRU5ErkJggg==');
    color:black;
}  */

.palette ul li.selected,
.palette ul li.child.selected{
    background:#daedff;
}   

.palette ul li label {
    display:inline-block;
    width:150px;
}

.palette ul li .child.intersectionPoints label {
    color: #666;
}

/*
.palette ul li:hover,
.palette ul li.child:hover {
    background:#3b9eff;
    color:white;
}    
    */
.palette footer {
    background: #eee;
    padding:5px 10px;
    width:100%;
    float:left;
}   

.palette.ui-draggable-dragging {
    margin-top:-8px;
}    

.palette footer button {
    background:none;
    border:0;
    text-align: center;
    line-height:15px;
    display:block;
    position: relative;
    left:-3px;
    padding:0;
    margin-right: 10px;
    float: left;
    color:#666;
}   

.palette footer button:hover {
    color:#000;
}   

.palette .selector {
    display:inline-block;
    height:10px;
    width:10px;
    border:solid 1px #000000;
    background:white;
    margin-right:10px;
}

.palette .selector.on {
    background:#000;
}

.palette .opener {
    width:12px;
    height:12px;
    display: inline-block;
    float:right;
}

 .opener span {
    width: 0;
    height: 0;
    border-style: solid;
    
    display: block;
    position:relative;
    top:7px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
    border-width: 8px 4px 0 4px;
}

 .opener.closed span {
  border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #000000;
}

#noteDisplay {
    color:white;
    display: inline-block;
    min-width:55px;
    font-size:1.25em;
    line-height: 100%;
    margin-left:5px;   
}

/* ***************************************** */
 
 
header.layout {
	z-index: 3;
	position:relative;
	box-shadow:2px 2px 2px #999;
}

header.layout nav {
	background:none;
	width:auto;
	box-shadow:none;
}

#menu {
	color:white;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	position: relative;
	/*padding-bottom:10px;*/
}

#frame {
	clear:both;
}

#menu li {
	display:inline-block;
	margin-right:10px;
	position:relative;
	padding-bottom:10px;
}

#menu li li {
	display:block;	
	float:none;
	clear:both;
}	

#menu li.hidden {
	display:none;
}	

#menu a{
	color:white;
	text-decoration:none;	
}	


#account_info nav a {
	display:block;	
}

#menu ul ul{
	display:none;
	position:absolute;
	background:#333;
	border:solid 1px #666;
	padding:0;
	margin:0;
}

#menu li  li {
	margin:0;	
	padding:0;
}	

#account_info nav { 
	min-width:100px;	
}	

#menu ul li:hover ul {
	display: block;
}

#menu ul ul a {
	padding: 5px 10px;
	display:block;	
	transition:background .2s;
	min-width:100px;
	margin:0;
	line-height:100%;
}	

#menu ul ul a:hover {
	background:#666;	
}	

#login form {
	padding:0  15px 5px 15px;
}

form h2 {
	font-size: 18px;
	padding:20px 0 0 0;
	margin:0;
	color:#1565C0;
}

.tabs .tab a.active {
	background:#1565C0;
	color:white;
}

.indicator {
	display:none;
}

p {
	margin:0 0 10px;
}

.error {
	color:red;
}
.success{
	color:green;
}

#login form input {
	border:0;
	padding:5px;
	display: block;
	font-size:16px;	
	margin-bottom:10px;
}	
/*
#loginPopup form input[type='submit']{
	background:#0e69b7;
	width:75px;
	color:white;
	border:solid 1px #0f71c5;
}*/

#fileList a {
	display:block;
	padding:5px 0;
}

#fileList a:hover  {
	text-decoration:underline;	
}	

/*clear fix */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }


@media print {
	#frame {
		background:white;
		border:0;
	}
	
	#guidecircles .guide, .guideline {
		stroke: #dddddd;
	}
	
	header.layout {
		display:none;
	}
}

